src/*.o
*.log
myapp
src/a.out
examples/Decode/.pio
examples/Encode/.pio
examples/Incoming/.pio
examples/Decode/lib
examples/Encode/lib
examples/Incoming/lib

DesktopExample/src/consoleHandler.o
DesktopExample/src/phonetester.o
DesktopExample/src/serialHandler.o
DesktopExample/src/startup.o
DesktopExample/src/unsolicited.o
DesktopExample/src/greekDecode.o
DesktopExample/src/gsm7check.o
src/ucs2.txt
output/main
main.map
DesktopExample/src/bugtest.o
DesktopExample/src/udh.o
DesktopExample/src/multipart.o
testing.csv
testing.ods
DesktopExample/src/credentials.h
examples/EncodeErrors/include/README
examples/EncodeErrors/lib/README
examples/EncodeErrors/test/README
DesktopExample/src/encodeErrors.o
.copycredentials.sh.swp
examples/EncodeErrors/.gitignore
DesktopExample/src/Utilities.o
